

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  'Roboto', sans-serif;
$titleFontFamily: 'Roboto Condensed', sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: 1267.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #000;
$textColorSecondary: #767676;
$mainColor: #FF8B00;
$secondColor: #C8C8C8;
$dangerColor:  #FF4444;
$successColor:#00C367;
$infoColor: #BC62EF;
$lightColor: #F6F6F6;
$warningColor: #FFC31C;


:root {
    --bs-primary: #FF8B00;
    --bs-secondary: #C8C8C8;
    --bs-success: #00C367;
    --bs-info: #BC62EF;
    --bs-warning: #FFC31C;
    --bs-danger: #FF4444;
    --bs-light: #F6F6F6;
    --bs-dark: #000;

    --bs-primary-rgb: 5, 140, 0;
    --bs-secondary-rgb: 200, 200, 200;
    --bs-success-rgb: 0, 195, 103;
    --bs-info-rgb: 188, 98, 239;
    --bs-warning-rgb: 255, 195, 28;
    --bs-danger-rgb: 255, 68, 68;
    --bs-light-rgb: 246, 246, 246;
    --bs-dark-rgb: 0, 0, 0;
}