//<ШРИФТЫ>===========================================================================================================

//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: 1267.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #fff;
$textColorSecondary: #767676;
$mainColor: #ff8b00;

* {
    box-sizing: border-box;
}

.text-with-gif {
    display: flex;

    & img {
        animation: handRotation 2s ease infinite;
        animation-play-state: paused;
        position: relative;
        top: 3px;

        &:hover {
            animation-play-state: running;
        }
    }
}

@keyframes handRotation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(75deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.elementor-nav-menu .menu-item {
    text-align: center;
    & a {
        transition: all 0.3s ease;
        display: inline-block;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            left: 50%;
            bottom: 7px;
            height: 1px;
            transform: translateX(-50%);
            width: 0;
            transition: all 0.3s ease !important;
            background-color: #000 !important;
        }

        &.elementor-item-active {
            font-weight: 700 !important;

            &:before {
                width: calc(100% - 30px);
                height: 2px;
            }
        }

        @media (min-width: 992px) {
            &:hover {
                &:before {
                    width: calc(100% - 30px);
                }
            }
        }
    }
}

// mob menu ===
#menu-2-c48de63 {
    height: 100vh;
}
// and mob menu ===

// menu social icons ==
.elementor-widget-social-icons {
    & .elementor-social-icons-wrapper {
        & .elementor-grid-item:last-child {
            transform: translateY(2px);
        }
    }
}
// and menu social icons ==

// preview block ===

.gif-block-left.elementor-col-50 {
    display: flex;
    & > .elementor-widget-wrap {
        width: auto;
        margin: 0 100px 0 170px;
        background-position: center 47% !important;
        background-size: 84% auto !important;

        @media (max-width: 1024px) {
            margin: 0px 40px 0px 100px !important;

            & .elementor-widget-container {
                margin: 0 !important;
            }
        }

        @media (max-width: 767px) {
            margin: 0px 5px 0px 0px !important;
        }
    }
}

.gif-block-right.elementor-col-50 {
    display: flex;
    & > .elementor-widget-wrap {
        width: auto;
        margin: 0 170px 0 100px;
        background-position: center 40% !important;
        background-size: 84% auto !important;

        @media (max-width: 1024px) {
            margin: 0px 100px 0px 40px !important;

            & .elementor-widget-container {
                margin: 0 !important;
            }
        }

        @media (max-width: 767px) {
            margin: 0px 0px 0px 5px !important;
        }
    }
}

.gif-block-left.elementor-col-33  {
    display: flex;
    & > .elementor-widget-wrap {
        margin: 0 170px 0 100px;
        background-position: center 43% !important;
        background-size: 84% auto !important;
        background-repeat: no-repeat;
        width: auto;
    }
}

// and preview block ===


.move-arrow-right {
    transition: all .3s ease;
    transform: translateX(0);

    &:hover {
        transform: translateX(15px);
    }
}


// menu btn animation
.elementor-menu-toggle {
    @media (max-width: 1024px) {
        height: 20px !important;
        width: 30px !important;
        position: relative;
        box-shadow: none !important;
        border: none !important;
        outline: none !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;

        &.elementor-active {
            &:before {
                transform: translateY(-50%) rotate(-45deg);
                top: 50%;
            }

            &:after {
                transform: translateY(50%) rotate(45deg);
                bottom: 50%;
            }

            & i {
                opacity: 0;
            }
        }

        &::before {
            position: absolute;
            content: '' !important;
            display: block !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #000;
            transition: all .3s ease;
        }

        & i {
            position: absolute;
            top: 50%;
            display: block;
            width: 100%;
            height: 3px;
            background-color: #000;
            transform: translateY(-50%);
            transition: all .3s ease;

            &::before {
                display: none !important;
            }
        }

        &:after {
            position: absolute;
            content: '';
            display: block;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #000;
            transition: all .3s ease;
        }
    }
}


// titles
h3 > a {
    color: inherit;
}


// container
.wrap-container {
    padding-left: 65px !important;
    padding-right: 65px !important;

    @media (max-width: 1024px) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    & .elementor-container {
        width: 100%;
        max-width: 1176px !important;
        margin-left: auto;
        margin-right: auto;
    }
}

// logo
.is-load {
    .logo:not(.anime-is-end) {
        & .logo__inner {
            animation: innerAnim 1s ease 0.6s forwards;
        }

        & .logo__text {
            animation: textAnim 1s ease 0.6s forwards;
        }

        & .logo__text span {
            animation: textSpanAnim 1s ease 0.6s forwards;
        }
    }
}

@keyframes innerAnim {
    0% {
        left: calc(50% - 31px);
        width: 62px;
    }
    33% {
        left: calc(50% - 31px);
        width: 62px;
    }
    66% {
        left: 0;
        width: 62px;
    }
    100% {
        left: 0;
        width: 200px;
    }
}

@keyframes textSpanAnim {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes textAnim {
    0% {
        left: 16px;
    }
    33% {
        left: 16px;
    }
    66% {
        left: 16px;
    }
    100% {
        left: 21px;
    }
}

.logo {
    width: 200px;
    height: 62px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    display: block;
    color: #000;
    transition: all .3s ease;

    &.anime-is-end {
        & .logo__inner {
            width: 200px;
            left: 0; 
        }

        & .logo__text {
            left: 21px;

            & span {
                opacity: 1;
            }
        }

        &:hover {
            & .logo__inner {
                animation: innerHoverAnim 1s ease;
            }

            & .logo__text {
                animation: textHoverAnim 1s ease;
            }
    
            & .logo__text span {
                animation: textSpanHoverAnim 1s ease;
            }
        }

        @keyframes innerHoverAnim {
            0% {
                width: 200px;
                left: 0;
            }
            33% {
                width: 62px;
                left: calc(50% - 31px);
            }
            66% {
                width: 62px;
                left: 0
            }
            100% {
                width: 200px;
                left: 0;
            }
        }

        @keyframes textHoverAnim {
            0% {
                left: 21px;
            }
            33% {
                left: 16px;
            }
            66% {
                left: 16px;
            }
            100% {
                left: 21px;
            }
        }

        @keyframes textSpanHoverAnim {
            0% {
                opacity: 1;
            }
            33% {
                opacity: 0;
            }
            66% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    &__inner {
        width: 62px;
        height: 62px;
        position: absolute;
        top: 50%;
        left: calc(50% - 31px);
        transform: translate(0%, -50%);
        transition: all .3s ease;
        border: 1px solid #000;
    }

    &__inner-2 {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    &__square {
        position: absolute;
        height: 8px;
        width: 8px;
        border: 1px solid #000;
        background-color: #fff;

        &:nth-child(1) {
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
        }
        &:nth-child(2) {
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
        }
        &:nth-child(3) {
            left: 0;
            bottom: 0;
            transform: translate(-50%, 50%);
        }
        &:nth-child(4) {
            right: 0;
            bottom: 0;
            transform: translate(50%, 50%);
        }
    }

    &__text {
        position: absolute;
        z-index: 1;
        text-transform: uppercase;
        top: 50%;
        left: 16px;
        //left: 21px;
        //left: 16px;
        transform: translate(0%, -50%);
        text-align: center;
        font-size: 20px;
        transition: transform .6s ease;

        & span {
            transition: all .3s ease;
            opacity: 0;
        }
    }
}
